﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Lab01_1212431.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <code><strong>MSSV</strong>: 1212431</code><br />
    <code><strong>Ho Ten</strong>: Nguyen Nguyen Tra</code><br />
    <code><strong>Email</strong>: kidbandesvn@gmail.com</code><br />
    <img src="Avatar.jpg" />
    </div>
    </form>
</body>
</html>
